a.rr-button {
    width: 25.16px;
    height: 100%;
    background-image: url("https://raid.report/favicon.ico");
    background-size: 100%;
}

a.dr-button {
    width: 25.16px;
    height: 100%;
    background-image: url("https://dungeon.report/favicon.ico");
    background-size: 100%;
}
