[class^="Fireteams_body__"] {
    max-width: 98% !important;
    width: 98% !important;
}

[class^="Fireteams_fireteamsMobileSidebar__"] {
    min-width: 0% !important;
    max-width: 20% !important;
}

[class^="Fireteams_mobileFiltersHeader__"]~[class^="Fireteams_fireteamsMobileSidebar__"] {
    max-width: 100% !important;
}

[class^="FireteamListItem_itemFireteam__"] {
    width: 49.75% !important;
    border-radius: 12px !important;
    margin: 0.125%;
}

[class^="FireteamListItem_itemFireteam__"] [class^="FireteamListItem_itemFireteamCard__"]:hover {
    border-radius: 12px;
}

[class^="FireteamListItem_itemFireteamCard__"] {
    border-bottom: initial !important;
}

[class^="Fireteams_resultsSearchFireteams__"] {
    box-shadow: none !important;
}