.Fireteams_body__23WxN {
    max-width: 98% !important;
    width: 98% !important;
}

.Fireteams_fireteamsMobileSidebar__18FUC {
    min-width: 0% !important;
    max-width: 20% !important;
}

.Fireteams_mobileFiltersHeader__3D1UD~.Fireteams_fireteamsMobileSidebar__18FUC {
    max-width: 100% !important;
}

.FireteamListItem_itemFireteam__390lc {
    width: 49.75% !important;
    border-radius: 12px !important;
    margin: 0.125%;
}

.FireteamListItem_itemFireteam__390lc .FireteamListItem_itemFireteamCard__3yUDd:hover {
    border-radius: 12px;
}

.FireteamListItem_itemFireteamCard__3yUDd {
    border-bottom: initial !important;
}