/* sidebar */
#sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    width: 4rem;
    height: 100%;
    background-color: #3b8f89;
    padding-top: 64px;
}

#sidebar>div.profileSlot {
    float: top;
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    border-radius: 0.75rem;
    background-color: #3b8f89;
    background-size: cover;
}

div.profileSlot+div.profileSlot {
    margin-top: 5px;
}

a.profileSlot {
    position: fixed;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    left: 0.5rem;
    border-radius: 0.75rem;
    background-color: transparent;
}

a.profileSlot:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    max-width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 0.5s ease-in-out;

    white-space: nowrap;

    position: absolute;
    z-index: 1;
    left: 110%;
    top: 5px;
}

a.profileSlot:hover:before {
    opacity: 1;
    visibility: visible;
}

/* improvements to search bar */
#search {
    height: 90%;
    margin-top: 0.2rem;
    border-radius: 1.5rem;
    background: #272a2b;
    color: #bbb;
}

#search:hover {
    background: #2c2f30;
    transition: 0.2s;
}

.input-field input[type=search]~.label-icon {
    color: #bbb !important;
}

/* main raid-report container */
.drr-container {
    max-width: 95% !important;
}

.row .col.l3 {
    width: 16.6666% !important;
}

/* raid report cards*/
.card {
    border-radius: 0.75rem !important;
}

.card .card-content {
    padding-top: 2vh !important;
    padding-right: 0.8vw !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.8vw !important;
}

.card .card-image img {
    border-radius: 0.75rem 0.75rem 0 0 !important;
}

.card .card-title {
    font-size: 1vw !important;
    font-weight: 400 !important;
}

.card .raid-card-image {
    padding-top: 33% !important;
}

.card table {
    font-size: 0.6vw !important;
}

.card .key-stats {
    font-size: 0.6vw !important;
    padding: 0 0.1vw !important;
}

.card .small-bottom-margin {
    margin-bottom: 0.1rem !important;
}

.card .row {
    margin-bottom: 5px !important;
}

.card td,
.card th {
    padding: 0.2rem 0.2rem 0 0 !important;
}

.card .drr-badges {
    z-index: 1;
    position: relative;
    top: -2vh;
}

.card span.badge {
    line-height: 2vh !important;
    height: 2vh !important;
    border: 0.1rem;
}

.card hr.row-bottom-margin {
    margin-bottom: 0.2rem !important;
}

/* weekly characters */

/* x's */
.card div.top-spacing {
    margin-top: 0.2rem !important;
}

.card div.top-spacing i.material-icons {
    font-size: 16px;
}

.card div.top-spacing label.label-heading {
    font-size: 0.7rem !important;
}

.card div.top-spacing div.col label {
    font-size: 0.6rem !important;
}

/* already cleared */
.card div.s4 a svg {
    height: 16px !important;
    width: 16px !important;
    font-size: 0.7rem;
}

.card div.s4 a svg g text {
    transform: translate(0px, -1px);
}